@-moz-document url-prefix("chrome:") {
  /* Fullscreen Bookmark Bar */
  :root[inFullscreen] #PersonalToolbar {
    visibility: visible !important;
  }
  
  /* Full Width Toolbar */
  :root:not([zen-single-toolbar="true"]) {
    #nav-bar {
      position: fixed !important;
      left: 6px;
      width: calc(100% - 2 * 6px);
    }
    #zen-tabbox-wrapper,
    #zen-sidebar-splitter,
    &:root[zen-sidebar-expanded="true"] #navigator-toolbox {
      margin-top: var(--zen-toolbar-height) !important;
    }
    &:root[zen-sidebar-expanded="true"] #zen-sidebar-top-buttons {
      display: none !important;
    }
    #PersonalToolbar {
      position: relative;
      top: var(--zen-toolbar-height);
      width: calc(100% - var(--zen-border-radius));
    }
  }
  
  /* Small Flexible Space */
  [id*="customizableui-special-spring"] {
    max-width: calc(var(--zen-toolbar-height) - 2px) !important;
  }
  
  /* Neat Bookmarks Menu */
  #BMB_viewBookmarksSidebar,
  #BMB_searchBookmarks,
  #BMB_bookmarksShowAllTop,
  #BMB_bookmarksShowAll,
  #BMB_viewBookmarksToolbar,
  #BMB_bookmarksPopup > menuseparator,
  #BMB_bookmarksToolbarPopup > menuseparator {
    display: none;
  }
  
  /* Uniform Application Menu Button Padding */
  #PanelUI-menu-button {
    padding-inline-end: var(--toolbarbutton-outer-padding) !important;
  }

  /* Big Tab Scrollbar */
  #zen-tabs-wrapper {
    scrollbar-width: auto;
  }
}
